{% extends 'global/base.html' %}

{% block title %}<title>Reine | Grupo de veículos</title>{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>Grupo de veículos</h1>
            <hr>
            <a id="add-link" href="adicionar/">
                <button class="btn btn-success" href="adicionar/"><i class="fa-solid fa-plus"></i> Adicionar</button>
            </a>
            <a id="add-link" href="http://127.0.0.1:8000/monitoramento/">
                <button class="btn btn-danger"><i class="fa-solid fa-backward"></i> Voltar</button>
            </a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID Grupo</th>
                        <th>Nome G. Veículos</th>
                        <th>Descrição</th>
                        <th>E-mail</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for grupo in grupoveiculos %}
                    <tr>
                        <td>{{ grupo.id }}</td>
                        <td>{{ grupo.nome_grupo }}</td>
                        <td>{{ grupo.descricao_grupo }}</td>
                        <td>{{ grupo.email }}</td>
                        <td>
                            <a class="btn btn-warning" href="{% url 'grupoveiculo:grupoveiculos_edit' grupo.id %}"><i class="fa-solid fa-pen"></i>  Editar</a>
                            
                        </td>
                    </tr> 
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}