<div class="menu-total">
    <button class="button-show-menu button-show-menu-visible">
        <i class="fas fa-bars"></i>
    </button>

    <div class="menu-container menu-hidden">
        <button class="button-show-menu button-show-menu-visible">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>

    <div class="menu-content">
        <nav class="menu-nav">
            <a href="{% url 'users:dashboard' %}">Dashboard</a>

            {% if request.is_authenticated %}
                <a href="{% url 'users:dashboard' %}">Dashboard</a>
                <a href="{% url 'users:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Register</a>
            {% endif %}
        </nav>
    </div>
</div>