{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% block title %}<title>Reine | Monitoramento</title>{% endblock title %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css" integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css" integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- END FONTAWESOME -->

<!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
<!-- END GOOGLE FONTS -->

<!-- GLOBAL CSS -->
  <link rel="stylesheet" href="{% static 'global/css/monitoramento.css' %}">
<!-- END GLOBAL CSS -->

    <link rel="stylesheet" href="{% static 'global/css/maps.css' %}" />
    <script src="{% static 'global/js/maps.js' %}"></script>
  </head>


  <body>
    {% include 'global/partials/message.html' %}
    {% include 'global/partials/header.html' %}


        <div id="map"></div>
            <div id="mapa">
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF--lFk8ATK0dY_Jc1tAcKX2axRrxvp0Q&callback=initMap&v=weekly" async></script>
            </div>

        <div class="search-container">
            <div class="container">
                <form action="" class="search-form">
                    <input type="search" class="search-input" name="search">
                    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>

        <div class="grid-container">
            <div class="columns-container">
                <div class="line-container">
                    <h1>TESTE</h1>
                </div>
            </div>
        </div>
  </body>
</html>